body {
    font-family: Arial, sans-serif;
    background-color: ivory;
}

table{
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

caption {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

th, td {
    border: 2px solid black;
    padding: 8px;
}

th {
    background-color: #e0e0e0;
}

.subject {
    font-weight: bold;
}

.practice {
    background-color: #1982C4;
}

.lecture {
    background-color: #8AC926;
}

.lab {
    background-color: #FF595E;
}

.seminar {
    background-color: #FFCA3A;
}

.other {
    background-color: #6A4C93;
}

@media (max-width: 768px) {
    table, tr, td, th {
        font-size: 12px;
        padding: 4px;
    }
}




